#buttons{
    flex-direction: row;
    display: flex;
    
}
#shome{
    display: block;
    background-color: cadetblue;
}
#curri{
    display: none;
}
#cont{
    display: none;
}
#game{
    display: none;
}
.botao{
    background-color: #edf2fa;
    border: none;
    margin-right: 3px;
    cursor: pointer;
    font-size: calc(10px + 1.5vmin);
}
.botao:hover{
    color: rgb(10, 177, 24);
    transition: 0.5s;
}
.botao:active{
    color: rgb(242, 247, 243);
    transition: 0.5s;
    background-color: darkgrey;
}